<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.emud.walkthrough"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="org.emud.walkthrough.WalkThroughApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.emud.walkthrough.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.emud.walkthrough.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="org.emud.walkthrough.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.emud.walkthrough.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- category android:name="android.intent.category.DEFAULT"/-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.emud.walkthrough.analysisservice.AnalysisService"
            android:icon="@drawable/ic_launcher" >
            <!--  android:label="Analysis Service"
            android:process=":analysis_service_process" -->
        </service>
        
        <service
            android:name="org.emud.walkthrough.fallingdetection.FallingDetectionService"
            android:icon="@drawable/ic_launcher"
            android:label="Falling Detection Service"
            android:process=":fallingdetection_service_process" >
        </service>

        <activity
            android:name="org.emud.walkthrough.CurrentActivity"
            android:label="currentActivity"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity
            android:name="org.emud.walkthrough.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="org.emud.walkthrough.FallingDetectionActivity"
            android:label="@string/title_activity_falling_detection" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
